<ion-view view-title="Ranking Geral">
	<ion-content class="page">
		<div class="list">

			<a class="item item-avatar">
				<img src="../../img/bruna.jpg">
				<div class="row">
					<div class="col col-67">
						<h2>Bruna Marconato</h2>
						<p>Lv 0 - 1230 pontos</p>
					</div>
					<div class="col">
						<img src="../../img/gold-medal.png" width="30px">
					</div>
				</div>
			</a>

			<a class="item item-avatar">
				<img src="../../img/simone.jpg">
				<div class="row">
					<div class="col col-67">
						<h2>Simone Shibata</h2>
						<p>Lv 0 - 1220 pontos</p>
					</div>
					<div class="col">
						<img src="../../img/silver-medal.png" width="30px">
					</div>
				</div>
			</a>

			<a class="item item-avatar">
				<img src="../../img/augusto.jpg">
				<div class="row">
					<div class="col col-67">
						<h2>Augusto Zeponi</h2>
						<p>Lv 0 - 1210 pontos</p>
					</div>
					<div class="col">
						<img src="../../img/bronze-medal.png" width="30px">
					</div>
				</div>
			</a>

			<a class="item item-avatar">
				<img src="../../img/lucas.jpg">
				<div class="row">
					<div class="col col-67">
						<h2>Lucas Cazaroto</h2>
						<p>Lv 0 - 1200 pontos</p>
					</div>
				</div>
			</a>

			<a class="item item-avatar">
				<img src="../../img/claudio.jpg">
				<div class="row">
					<div class="col col-67">
						<h2>Claudio Shiguemi</h2>
						<p>Lv 0 - 1100 pontos</p>
					</div>
				</div>
			</a>

			<a class="item item-avatar">
				<img src="../../img/user.jpg">
				<div class="row">
					<div class="col col-67">
						<h2>José de Alencar</h2>
						<p>Lv 0 - 1000 pontos</p>
					</div>
				</div>
			</a>
			
			<a class="item item-avatar">
				<img src="../../img/user2.jpg">
				<div class="row">
					<div class="col col-67">
						<h2>Toshio Shiguemi</h2>
						<p>Lv 0 - 900 pontos</p>
					</div>
				</div>
			</a>
			
			<a class="item item-avatar">
				<img src="../../img/user3.jpg">
				<div class="row">
					<div class="col col-67">
						<h2>Sonia Santos</h2>
						<p>Lv 0 - 800 pontos</p>
					</div>
				</div>
			</a>

			<a class="item item-avatar">
				<img src="../../img/user4.jpg">
				<div class="row">
					<div class="col col-67">
						<h2>Giseli Tanaka</h2>
						<p>Lv 0 - 700 pontos</p>
					</div>
				</div>
			</a>
			
		</div>
	</ion-content>
</ion-view>
