<ion-view view-title="Cadastro">
  <ion-content style="background-color: #901b1b;">
    <div class="text-align-center">
      <img ng-src="/img/logo.png" class="logo-register" />
      <form>
        <div class="list" style="color: #fff;margin: 20px 40px;">
          <label class="item item-input label-login">
            <input class="input-login" type="text"  placeholder="Nome" ng-model="user.nome">
          </label>
          <label class="item item-input label-login">
            <input class="input-login" type="text" placeholder="Data Nascimento" ng-model="user.birth">
          </label>
          <label class="item item-input label-login">
            <input class="input-login" type="email"  placeholder="E-mail" ng-model="user.email">
          </label>
          <label class="item item-input label-login" >
            <input class="input-login" type="password" placeholder="Senha" ng-model="user.password">
          </label>
          <label class="item item-input label-login">
            <input class="input-login" type="password"  placeholder="Confirmar Senha" ng-model="passwordConfirm">
          </label>
          <label class="item label-button-login">
            <button class="button button-block button-login" ng-click="register(user)">Cadastrar</button>
          </label>
        </div>
      </form>
      <a href="#/app/login" style="color:#fff;">Já tenho cadastro</a>
    </div>
  </ion-content>
</ion-view>