<ion-view view-title="Editar Perfil">
  <ion-content class="page">

    <form name="editMember" ng-submit="toEdit(editMember)" class="list card no-margin">

      <ion-input class="item item-input item-stacked-label">
        <ion-label >Nome</ion-label>
        <input type="text" name="name" placeholder="Nome completo" ng-model="user.name" required>
      </ion-input>

      <ion-input class="item item-input item-stacked-label">
        <ion-label >Email</ion-label>
        <input type="email" name="email" placeholder="Email" ng-model="user.email">
      </ion-input>

      <div class="item ">
        <button id="btn-perfil-edit" class="col button red-dark icon-right ion-edit" ng-click="salvar(user)">
          <i class="" >Atualizar</i>
        </button>
      </div>


    </form>

  </ion-content>
</ion-view>
