<ion-view view-title="Perfil">
	<ion-content class="page">
		<div class="list">

	    <div class="item item-thumbnail-left">
	      <img src="../../img/bruna.jpg">
	      <h2>Bruna Marconato</h2>
	      <p>bruna@email.com</p>
	    </div>

	    <div class="item" href="#">
	        <h2>Level</h2>
	        <p>0</p>
	    </div>

	    <div class="item" href="#">
	        <h2>Pontos</h2>
	        <p>1250</p>
	    </div>

	    <div class="item" href="#">
	        <h2>Ranking geral</h2>
	        <p>1°</p>
	    </div>

	</div>
	</ion-content>
</ion-view>
