<ion-view view-title="{{classroom.title}}">
  <ion-tabs class="red-dark tabs-icon-top">

    <ion-tab title="Atividades" icon-on="ion-compose" icon-off="ion-compose">
      <ion-content class="page">
        <div class="item item-divider">Categorias</div>
        <div ng-click="categorySelected(category)" ng-repeat="category in categories" class="item">
          <h2>{{ category.name }}</h2>
          <p>{{ category.description }}</p>
          <div ng-if="selected == category.id">
            <div ng-show="tasks.length == 0">Não há nenhuma atividade cadastrada.</div>
            <div ng-repeat="task in tasks">
              <div class="item" ng-click="verTask(task.id)">
                <p style="cursor:pointer; margin:0 10px 0 5px;">
                  <strong style="color:dodgerblue;">{{ task.title }} : </strong>
                  {{ task.description }}
                </p>

                <p style="margin:0 10px 0 5px;">
                  <i class="fa fa-clock-o fa-gray button-category" aria-hidden="true"></i>
                  Aberta até {{ task.closingDate | date: 'dd/MM/yyyy' }}
                  <i ng-show="task.answered" class="fa fa-file-text fa-gray button-category"
                     aria-hidden="true"></i>
                  <span ng-show="task.answered"> Respondido </span>
                  <i ng-show="userAuthenticated.id != room.teacher.id && !task.answered"
                     class="fa fa-mail-forward fa-gray button-category"
                     aria-hidden="true"></i>
                  <span ng-show="userAuthenticated.id != room.teacher.id && !task.answered">Responder</span>
                  <i ng-show="userAuthenticated.id == room.teacher.id"
                     class="fa fa-pencil fa-gray button-category"
                     aria-hidden="true"></i>
                  <span class="icon ion-edit" ng-show="userAuthenticated.id == room.teacher.id"></span>
                </p>
              </div>
            </div>
          </div>
          <div ng-show="userAuthenticated.id == room.teacher.id && selected == category.id">
            <a class="item"
               ng-click="newTask(category.id);">
              <i class="icon ion-plus-circled" aria-hidden="true"></i>
              nova atividade
            </a>
            <a class="item" ng-click="createCategory(category.id);">
              <i class="icon ion-edit" aria-hidden="true"></i>
              editar
            </a>
            <a class="item" ng-click="deleteCategory(category);">
              <i class="icon ion-trash-a" aria-hidden="true"></i>
              excluir
            </a>
          </div>
        </div>

      </ion-content>

      <div ng-show="userAuthenticated.id == room.teacher.id" style="position: absolute; bottom: 0px; width: 100%">
        <button class="fab red-dark" ng-click="createCategory();">
          <i class="icon ion-plus"></i>
        </button>
      </div>
    </ion-tab>

    <ion-tab title="Integrantes" icon-on="ion-android-person" icon-off="ion-android-person">
      <ion-content class="page">
        <div class="item item-divider">Integrantes</div>
        <div ng-repeat="u in users" ng-click="goToPerson(person.name, $event)" class="row item item-icon-right">
          <div class="col-10">
            <img title="Primeiro lugar por pontuação"
                 ng-src="img/gold-medal.png" class="avatar icon-apple"
                 ng-if="$index == 0"/>
            <img title="Segundo lugar por pontuação"
                 ng-src="img/silver-medal.png" class="avatar icon-apple"
                 ng-if="$index == 1"/>
            <img title="Terceiro lugar por pontuação"
                 ng-src="img/bronze-medal.png" class="avatar icon-apple"
                 ng-if="$index == 2"/>
            <p ng-if="$index > 2" class="avatar" style="margin: 8px 16px 8px 0px ;">
              {{ $index + 1 }}</p>
          </div>
          <div class="col-10">
            <img alt="{{ u.name }}"
                 data-ng-src="data:image/png;base64,{{ u.imageProfile }}"
                 title="{{ userAuthenticated.name }}" class="avatar icon-apple"
                 data-err-src="img/default.png"/>
            <img class="avatar icon-apple" ng-if="!u.imageProfile"
                 ng-src="img/default.png"/>
          </div>
          <div class="col">
            {{ u.name }}
          </div>
          <div ng-click="deleteUser(u)" ng-show="userAuthenticated.id == room.teacher.id" class="col">
            <i class="icon ion-trash-a" aria-hidden="true"></i>
          </div>
        </div>

        <div class="row item item-icon-right">
          <div class="col-10">
            <img title="Presentear com maçã"
                 ng-src="img/apple.png" class="icon-apple"
                 ng-click="addApple(room.teacher.id)"/>
          </div>
          <div class="col-10">
            <img ng-if="room.teacher.imageProfile" title="{{room.teacher.name}}"
                 data-ng-src="data:image/png;base64,{{ room.teacher.imageProfile }}"
                 class="icon-apple avatar"/>
            <img ng-if="!room.teacher.imageProfile" title="{{room.teacher.name}}"
                 ng-src="img/default.png"
                 class="icon-apple avatar" style="padding-top: 3px"/>
          </div>
          <div class="col col-25">
            {{ room.teacher.name }}
          </div>
          <div class="col">
            <i class="icon ion-information-circled" aria-hidden="true"></i>
          </div>
        </div>

        </div>
      </ion-content>

      <div ng-show="userAuthenticated.id == room.teacher.id" style="position: absolute; bottom: 0px; width: 100%">
        <button class="fab red-dark" ng-click="newUser(room)">
          <i class="icon ion-android-person-add"></i>
        </button>
      </div>

    </ion-tab>

  </ion-tabs>
</ion-view>
