<ion-view view-title="{{classroom.title}}">
  <ion-tabs class="red-dark tabs-icon-top">

    <ion-tab title="Atividades" icon-on="ion-compose" icon-off="ion-compose">
      <ion-content class="page">
        <div class="item item-divider">Categorias</div>
        
        <div class="card" ng-repeat="category in categories" ng-click="categorySelected(category)">
          <div class="item">
            <p>{{ category.name }}</p>
            <p>{{ category.description }}</p>
          </div>
          <div class="item" ng-if="selected == category.id">
            <p ng-show="tasks.length == 0">Não há nenhuma atividade cadastrada.</p>
            <div ng-repeat="task in tasks" ng-click="verTask(task.id)" class="task">
              <p style="cursor:pointer; margin:0 10px 0 5px;">
                <strong style="color:dodgerblue;">{{ task.title }} : </strong>
                {{ task.description }}
              </p>
              <p style="margin:0 10px 0 5px;">
                <a class="actionsCategory">
                  <i class="icon ion-android-time" aria-hidden="true"></i>
                  Aberta até {{ task.closingDate | date: 'dd/MM/yyyy' }}
                </a>
                <a class="actionsCategory">
                  <i class="icon ion-document-text" aria-hidden="true" ng-show="task.answered"></i>
                  <span ng-show="task.answered"> Respondido </span>
                  <i ng-show="task.answered && task.answeredCorrect" class="icon ion-checkmark-round like-blue button-category" aria-hidden="true"></i>
                  <i ng-show="task.answered && !task.answeredCorrect" class="icon ion-close-round flaged button-category" aria-hidden="true"></i>
                </a>
                <a class="actionsCategory">
                  <i class="icon ion-forward" aria-hidden="true" ng-show="userAuthenticated.id != room.teacher.id && !task.answered"></i>
                  <span ng-show="userAuthenticated.id != room.teacher.id && !task.answered">Responder</span>
                </a>
                <a class="actionsCategory">
                  <i class="icon ion-edit" aria-hidden="true" ng-show="userAuthenticated.id == room.teacher.id"></i>
                  <span ng-show="userAuthenticated.id == room.teacher.id">Editar</span>
                </a>
              </p>
            </div>
          </div>
          <div class="item" ng-show="userAuthenticated.id == room.teacher.id && selected == category.id">
            <p>
              <a ng-click="newTask(category.id);" class="actionsCategory">
                <i class="icon ion-plus-circled" aria-hidden="true"></i>
                nova atividade
              </a>
              <a ng-click="createCategory(category.id);" class="actionsCategory">
                <i class="icon ion-edit" aria-hidden="true"></i>
                editar
              </a>
              <a ng-click="deleteCategory(category);" class="actionsCategory">
                <i class="icon ion-trash-a" aria-hidden="true"></i>
                excluir
              </a>
            </p>              
          </div>
        </div>
      </ion-content>

      <div ng-show="userAuthenticated.id == room.teacher.id" style="position: absolute; bottom: 0px; width: 100%">
        <button class="fab red-dark" ng-click="createCategory();">
          <i class="icon ion-plus"></i>
        </button>
      </div>
    </ion-tab>

    <ion-tab title="Integrantes" icon-on="ion-android-person" icon-off="ion-android-person">
      <ion-content class="page">
        <div class="item item-divider">Integrantes</div>
        <div ng-repeat="u in users" ng-click="goToPerson(person.name, $event)" class="row item item-icon-right">
          <div class="col-10">
            <img title="Primeiro lugar por pontuação"
            ng-src="img/gold-medal.png" class="avatar icon-apple"
            ng-if="$index == 0"/>
            <img title="Segundo lugar por pontuação"
            ng-src="img/silver-medal.png" class="avatar icon-apple"
            ng-if="$index == 1"/>
            <img title="Terceiro lugar por pontuação"
            ng-src="img/bronze-medal.png" class="avatar icon-apple"
            ng-if="$index == 2"/>
            <p ng-if="$index > 2" class="avatar" style="margin: 8px 16px 8px 0px ;">
              {{ $index + 1 }}</p>
            </div>
            <div class="col-10">
              <img alt="{{ u.name }}"
              data-ng-src="data:image/png;base64,{{ u.imageProfile }}"
              title="{{ userAuthenticated.name }}" class="avatar icon-apple"
              data-err-src="img/default.png"/>
              <img class="avatar icon-apple" ng-if="!u.imageProfile"
              ng-src="img/default.png"/>
            </div>
            <div class="col">
              {{ u.name }}
            </div>
            <div ng-click="deleteUser(u)" ng-show="userAuthenticated.id == room.teacher.id" class="col">
              <i class="icon ion-trash-a" aria-hidden="true"></i>
            </div>
          </div>

          <div class="row item item-icon-right">
            <div class="col-10">
              <img title="Presentear com maçã"
              ng-src="img/apple.png" class="icon-apple"
              ng-click="addApple(room.teacher.id)"/>
            </div>
            <div class="col-10">
              <img ng-if="room.teacher.imageProfile" title="{{room.teacher.name}}"
              data-ng-src="data:image/png;base64,{{ room.teacher.imageProfile }}"
              class="icon-apple avatar"/>
              <img ng-if="!room.teacher.imageProfile" title="{{room.teacher.name}}"
              ng-src="img/default.png"
              class="icon-apple avatar" style="padding-top: 3px"/>
            </div>
            <div class="col col-25">
              {{ room.teacher.name }}
            </div>
            <div class="col">
              <i class="icon ion-information-circled" aria-hidden="true"></i>
            </div>
          </div>

        </div>
      </ion-content>

      <div ng-show="userAuthenticated.id == room.teacher.id" style="position: absolute; bottom: 0px; width: 100%">
        <button class="fab red-dark" ng-click="newUser(room)">
          <i class="icon ion-android-person-add"></i>
        </button>
      </div>

    </ion-tab>

  </ion-tabs>
</ion-view>
