<ion-view view-title="{{classroom.title}}">
  <ion-content class="page">
    <div class="list">
      <a class="item item-icon-left item-divider">
        <i class="icon ion-android-person"></i>
        Integrantes
      </a>

      <div ng-repeat="u in users" ng-click="goToPerson(person.name, $event)" class="row item item-icon-right">
        <div class="col-10">
          <img title="Primeiro lugar por pontuação"
               ng-src="img/gold-medal.png" class="avatar icon-apple"
               ng-if="$index == 0"/>
          <img title="Segundo lugar por pontuação"
               ng-src="img/silver-medal.png" class="avatar icon-apple"
               ng-if="$index == 1"/>
          <img title="Terceiro lugar por pontuação"
               ng-src="img/bronze-medal.png" class="avatar icon-apple"
               ng-if="$index == 2"/>
          <p ng-if="$index > 2" class="avatar" style="margin: 8px 16px 8px 0px ;">
            {{ $index + 1 }}</p>
          <img ng-if="u.imageProfile" alt="{{ u.name }}"
               data-ng-src="data:image/png;base64,{{ u.imageProfile }}"
               title="{{ userAuthenticated.name }}" class="avatar"
               data-err-src="img/default.png"/>
        </div>
        <div class="col-10">
          <img ng-if="u.imageProfile" alt="{{ u.name }}"
               data-ng-src="data:image/png;base64,{{ u.imageProfile }}"
               title="{{ userAuthenticated.name }}" class="avatar icon-apple"
               data-err-src="img/default.png"/>
          <img class="avatar icon-apple" ng-if="!u.imageProfile"
               ng-src="img/default.png"/>
        </div>
        <div class="col">
          {{ u.name }}
        </div>
        <div class="col">
          <i class="icon ion-trash-a" aria-hidden="true"></i>
        </div>
      </div>

      <div class="row item item-icon-right">
        <div class="col-10">
          <img title="Presentear com maçã"
               ng-src="img/apple.png" class="icon-apple"
               ng-click="addApple(room.teacher.id)"/>
        </div>
        <div class="col-10">
          <img ng-if="room.teacher.imageProfile" title="{{room.teacher.name}}"
               data-ng-src="data:image/png;base64,{{ room.teacher.imageProfile }}"
               class="icon-apple avatar"/>
          <img ng-if="!room.teacher.imageProfile" title="{{room.teacher.name}}"
               ng-src="img/default.png"
               class="icon-apple avatar" style="padding-top: 3px"/>
        </div>
        <div class="col col-25">
          {{ room.teacher.name }}
        </div>
        <div class="col">
          <i class="icon ion-information-circled" aria-hidden="true"></i>
        </div>
      </div>

    </div>
  </ion-content>

  <div ng-show="userAuthenticated.id == room.teacher.id" style="position: absolute; bottom: 0px; width: 100%">
    <button class="fab red-dark" ng-click="newUser(room)">
      <i class="icon ion-android-person-add"></i>
    </button>
  </div>

</ion-view>
