<ion-view view-title="Salas de aula">
	<ion-content class="page">
		<div class="card" ng-click="openRoom()">
			<div class="row">
				<div class="col text-align-center">
					<i class="icon ion-university icon-room-size"></i>
				</div>
				<div class="col col-75">
					<h4>Desenvolvimento de dispositivos móveis II</h4>
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<i class="icon ion-person"></i>
					Fábio Rogério SJ
				</div>
				<div class="col col-50">
					<i class="icon ion-ios-people"></i>
					20 participantes
				</div>
			</div>
		</div>
		<div class="card" ng-click="openRoom()">
			<div class="row">
				<div class="col text-align-center">
					<i class="icon ion-university icon-room-size"></i>
				</div>
				<div class="col col-75">
					<h4>Projeto Integrador - Escola de TI</h4>
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<i class="icon ion-person"></i>
					Arthur Zavadski
				</div>
				<div class="col col-50">
					<i class="icon ion-ios-people"></i>
					64 participantes
				</div>
			</div>
		</div>
		<div class="card" ng-click="openRoom()">
			<div class="row">
				<div class="col text-align-center">
					<i class="icon ion-university icon-room-size"></i>
				</div>
				<div class="col col-75">
					<h4>Empreendedorismo</h4>
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<i class="icon ion-person"></i>
					Adriano Oliveira
				</div>
				<div class="col col-50">
					<i class="icon ion-ios-people"></i>
					64 participantes
				</div>
			</div>
		</div>
		<div class="card" ng-click="openRoom()">
			<div class="row">
				<div class="col text-align-center">
					<i class="icon ion-university icon-room-size"></i>
				</div>
				<div class="col col-75">
					<h4>Gerenciamento de Projetos</h4>
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<i class="icon ion-person"></i>
					Robinson Patroni
				</div>
				<div class="col col-50">
					<i class="icon ion-ios-people"></i>
					64 participantes
				</div>
			</div>
		</div>
		<div class="card" ng-click="openRoom()">
			<div class="row">
				<div class="col text-align-center">
					<i class="icon ion-university icon-room-size"></i>
				</div>
				<div class="col col-75">
					<h4>Programação Avançada</h4>
				</div>
			</div>
			<div class="row">
				<div class="col col-50">
					<i class="icon ion-person"></i>
					Fernando Medeiros
				</div>
				<div class="col col-50">
					<i class="icon ion-ios-people"></i>
					20 participantes
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
