<ion-view view-title="Fórum">
  <ion-content class="page">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Buscar pergunta" ng-model="search">
        <i class="icon ion-android-cancel" ng-click="cleanSearch()"></i>
      </label>
    </div>
    <div ng-show="diference > 1" class="text-center">
      <a href="" ng-click="getAllQuestions()">{{diference}} novas perguntas</a>
    </div>
    <div ng-show="diference == 1" class="text-center">
      <a href="" ng-click="getAllQuestions()">{{diference}} nova pergunta</a>
    </div>
    <div class="card"  ng-repeat="question in questions | filter:search">
      <div ng-click="openQuestion(question)" class="row">
        <div class="col">
          <img data-ng-src="data:image/png;base64,{{ question.user.imageProfile }}" class="img-size"/>
          <p>{{question.user.punctuation}} rep</p>
        </div>
        <div class="col col-75">
          <p>{{question.title}}</p>
          <p>{{question.description}}</p>
        </div>
        <i class="icon ion-checkmark-circled" aria-hidden="true"
           ng-if="question.answered" title="Resolvido"></i>
      </div>
      <div class="divider"></div>
      <div class="row">
        <div ng-show="userAuthenticated.id != null" ng-if="!question.likedQuestion" ng-click="newLike(question)" class="col col-15">
          <i class="icon ion-thumbsup"></i>
          {{question.numberLikes}}
        </div>
        <div ng-show="userAuthenticated.id != null" ng-if="question.likedQuestion" ng-click="unlike(question)" class="col col-15">
          <i class="like-blue icon ion-thumbsup "></i>
          {{question.numberLikes}}
        </div>
        <div class="col col-15">
          <i class="icon ion-chatbubbles"></i>
          {{question.numberAnswers}}
        </div>
        <div class="col col-50">
          <i class="icon ion-clock"></i>
          {{ question.lastUpdate | date: 'dd/MM/yyyy HH:mm' }}
        </div>
        <div class="col col-15">
          <i class="icon ion-eye"></i>
          {{question.views}}
        </div>
      </div>
    </div>
  </ion-content>

  <div ng-show="userAuthenticated.id != null" style="position: absolute; bottom: 0px; width: 100%">
    <button class="fab red-dark" ng-click="newQuestion()">
      <i class="icon ion-plus-round"></i>
    </button>
  </div>

</ion-view>
