<ion-view view-title="Fórum">
	<ion-content class="page">
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Buscar pergunta">
				<i class="icon ion-android-cancel"></i>
			</label>
		</div>
		<div class="card" ng-click="openQuestion(question)" ng-repeat="question in questions">
			<div class="row">
				<div class="col">
					<img ng-src="{{question.user.image}}" class="img-size"/>
					<p>{{question.user.punctuation}} pts</p>
				</div>
				<div class="col col-75">{{question.title}}</div>
			</div>
			<div class="divider"></div>
			<div class="row">
				<div class="col col-15" ng-click="niceQuestion(question)">
					<i class="icon ion-thumbsup"></i>
					{{question.nice}}
				</div>
				<div class="col col-15">
					<i class="icon ion-chatbubbles"></i>
					{{question.numberAnswers}}
				</div>
				<div class="col col-50">
					<i class="icon ion-clock"></i>
					{{question.lastUpdateFilter}}
				</div>
				<div class="col col-15">
					<i class="icon ion-eye"></i>
					{{question.views}}
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
