.red-dark {
	background-color: #751612 !important;
	color: #fff;
}
.page {
	background-color: #ededed;
}
.img-size {
	width: 50px;
	height: 50px;
}
.preview-foto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: auto;
  margin-top: 20px;
  background-size: cover;
  background-position: center;
}
.preview-foto div {
  font-size: 33px;
  font-weight: 300;
  color: #c0c0c0;
  padding-top: 20px;

}
.icon-room-size {
	font-size: 80px;
}
.text-align-center {
	text-align: center;
}
.menu-logo {
	padding: 10px 105px;
	background-color:#751612;
}
.logo-register {
	padding-top: 30px;
	width:100px;
}
.logo-login {
	padding-top: 40px;
	width:200px;
}
.list-login {
	color: #fff;
	margin: 40px;
}
.label-login {
	background-color: transparent;
	border: none;padding:0;
	margin:10px;
}
.input-login {
	border-bottom:2px solid #fff !important;
	font-size:18px !important;
	padding:5px !important;
	color:#fff !important;
}
.label-button-login {
	background-color: transparent;
	border: none;
}
.button-login {
	background-color: #be1e16;
	border: 1px solid #fff;
	color: #fff !important;
}
.ion-android-cancel {
	color: #5e5e5e;
	margin-right:10px;
}
.footer {
	text-align: center;
	color: #5e5e5e;
}
.footer a {
	color: #5e5e5e;
}
.fab {
	border-radius: 50%;
	box-shadow: 1px 1px 5px grey;
	color: #fff;
	padding: 20px 25px;
	box-sizing: border-box;
	border: none;
	bottom: 30px;
	right: 30px;
	position: absolute;
	font-size: 20px;
}

.color-white {
  color: #fff !important;
}
.button.button-balanced{
	text-align: left;
}
#btn-perfil-edit{
	text-align: left;
}
.bar {
  background: #751612 !important;
}
.bar.bar-stable .title,.bar-stable .button.button-clear {
  color: #ffffff;
}
.placeholder-escondido{
  position: absolute;
  color: #a59494;
  padding-left: 3px;
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}
.ion-university:before {
  content: "";
  color: #751612;
}

.icon-apple {
  width: 25px;
  margin-right: 10px;
}

.ion-ios-camera-outline:before {
  content: "";
  font-size: 78px;
}
